# Default ignored files
/../../../../Casa do Código/Livro de Kafka Connect e Kafka Streams/livro-kafka-connect/.idea/shelf/
/../../../../Casa do Código/Livro de Kafka Connect e Kafka Streams/livro-kafka-connect/.idea/workspace.xml
